extends layout

block content
    main(role="main")
        .sharpframeintro
            h1 SharpFrame
            h2 Synchronized Media and chat
            p.lead
                | Welcome to SharpFrame - Watch videos from people from all over the world in just your browser.
                | SharpFrame allows for real time playback of video to anyone and also allows you to chat to
                | other people in real time. SharpFrame is completely free so why not register and enjoy the
                | benefits of modern media today.
                p
                    .nav-link#register
                        a.btn.btn-lg.btn-success(href='/register', role='button') Register today
        .container
            h3 New rooms
            .videoRow
